/* fonts.css */
@font-face {
  font-family: headings;
  font-display: swap;
  font-weight: 700;
  src: url(https://static.saltinourhair.com/build/fonts/SaltHeading.woff2)
      format("woff2"),
    url(https://static.saltinourhair.com/build/fonts/SaltHeading.woff)
      format("woff");
}
